.start-test-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.test-description {
  margin-bottom: 20px;
}

.test-instructions {
  margin-bottom: 20px;
}

.test-instructions ul {
  list-style-type: disc;
  margin-left: 20px;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.start-test-button {
  margin-top: 20px;
}

.video-container {
  margin-top: 20px;
}

.redirect-message {
  margin-top: 10px;
}

@media (max-width: 480px) {
  .video-container .webcam {
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 15px;
    width: 350px;
  }
}
